body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p, a {
    font-family: 'Montserrat', sans-serif;
    color: #3e3e3e;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}


/* reusable classes */
.container {
    width: 1485px;
    margin-left: auto;
    margin-right: auto;
}

.orange_clr {
    color: #ffad5a;
}

.tomato_bg {
    background-color: #ff5959;
}

/* non-reusalbe classes */
/* section 1 */
.section1 {
    display: flex;
    flex-direction: row;
}

.sec1_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1_left p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.sec1_mission_header {
    border-left: 7px solid;
    border-image: linear-gradient(#ff5959, #ff5959);
    border-image-slice: 1;
    padding-left: 20px;
}

.sec1_mission_header h1 {
    font-family: 'Permanent Marker', cursive !important;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.sec_article {
    padding: 25px 0;
}

.sec_article p {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.sec_article a {
    padding: 20px 50px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.article_btn {
    display: block;
    margin: 50px 0px;
}

.s1_right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s1_right img {
    width: 80%;
    margin-left: auto;
}

/* section 2 */
.section2 {
    background-image: url(./images/my-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 230px;
}

.section2 h1 {
    text-align: center;
    font-size: 70px;
    color: #13103a;
}

.mission_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 32%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 30px;
}

.card:first-child {
    background-color: #edf5f6;
    margin-right: auto;
}

.card:nth-child(2) {
    background-color: #ffeeee;
}

.card:last-child {
    background-color: #fff4d6;
    margin-left: auto;
}

.card img {
    height: 200px;
}

.card h2 {
    font-size: 25px;
}

.card p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/* section 3 */
.rest_section {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 5.5% 55%;
    padding-bottom: 50px;
}

.rest_sec_desc {
    display: flex;
    flex-direction: row;
}

.sec_img {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec_img img {
    max-width: 100%;
    display: block;
}

.sec_desc {
    width: 70%;
    padding-left: 100px;
    box-sizing: border-box;
}

.sec_desc h1 {
    font-size: 50px;
    margin-bottom: 0;
}

/* section 4 */
.rs_flip {
    background-image: url(./images/shape-1.png);
    background-size: contain;
    background-position-x: 75%;
    padding-bottom: 30px;
}

.sec_desc_flip {
    padding-left: 0;
    padding-right: 100px;
}

/* section 5 */
.candidates {
    padding: 50px 0;
    background-image: url(./images/my-bg2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
}

.candidates .article_btn {
    text-align: center;
}

.candidates .article_btn a {
    padding: 20px 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background-image: linear-gradient(185deg, #100997, #8e6cd5);
}

.cand_header {
    text-align: center;
}

.cand_header h1 {
    font-size: 50px;
}

.cand_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.cl_card {
    width: 48%;
    margin-right: auto;
}

/* .ch_card {
    background-color: aliceblue;
    padding: 20px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
} */

.ch_card {
    padding: 20px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(45deg, #746969, #896c6c1c);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.ch_card:last-child {
    margin-top: 20px;
}

.ch_card img {
    height: 100px;
}

.ch_card p {
    font-size: 18px;
    font-weight: 500;
}

.cr_card {
    width: 48%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.cv_card {
    padding: 20px 30px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.cv_card p {
    font-size: 18px;
    font-weight: 500;
}

.ch_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

/* .ch_desc h2 {
    margin-bottom: 0;
}

.ch_desc p {
    font-size: 18px;
    font-weight: 500;
} */

.ch_desc h2 {
    margin-bottom: 0;
    color: white;
}

.ch_desc p {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/* footer */
#footer {
    text-align: center;
    background-color: #0b0d17;
    padding: 30px 0;
    margin-top: 30px;
}

#ft_header {
    font-size: 30px;
}

#ft_header h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    color: white;
}

#ft_header h1 span {
    color: #ff5959;
}

#ft_para p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-bottom: 0;
}